/* =============
    Section-2
============= */

#section-2{ 
@include md{
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-areas: 
    " section-2-img ."
    " section-2-img section-2-container"
    " section-2-img .";
}

@include lg{
    grid-template-columns: 50% auto;
}

    aside{
        img{
            width: 100%;
        }
        grid-area: section-2-img;
        // @include lg{
        //     display: grid;
        //     grid-template-columns: 15px auto;
        //     grid-template-areas: ". section-2-img";
        // }
    }
    
    #section-2-container{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-2 .";

        @include md{
            grid-area: section-2-container;
        }

    }

    #section-2-content{
        grid-area: section-2;}

    

}
